USE [master]
GO
/****** Object:  Database [EmployeeManagement]    Script Date: 26-12-2025 10:48:00 ******/
CREATE DATABASE [EmployeeManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EmployeeManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EmployeeManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeManagement]
GO
/****** Object:  Table [dbo].[EmploayeeAuth]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmploayeeAuth](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[AuthName] [varchar](100) NULL,
	[AuthRole] [varchar](50) NULL,
	[PasswordHash] [varchar](max) NULL,
	[Country] [varchar](100) NULL,
	[Age] [int] NULL,
	[Gender] [varchar](100) NULL,
	[Salary] [decimal](18, 0) NULL,
	[JoiningDate] [date] NULL,
	[ProfilePicture] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeData]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeData](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[EmpName] [varchar](100) NULL,
	[EmpAge] [int] NULL,
	[EmpGender] [varchar](50) NULL,
	[EmpSalary] [decimal](18, 0) NULL,
	[EmpCountry] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeLogs]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeLogs](
	[logId] [int] IDENTITY(1,1) NOT NULL,
	[id] [int] NULL,
	[EmpName] [varchar](100) NULL,
	[EmpAge] [int] NULL,
	[EmpGender] [varchar](50) NULL,
	[EmpSalary] [decimal](18, 0) NULL,
	[EmpCountry] [varchar](50) NULL,
	[ActionType] [varchar](10) NULL,
	[ChangeDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[logId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](200) NULL,
	[ProjectDate] [datetime] NULL,
	[ClientName] [varchar](100) NULL,
	[ClientLocation] [varchar](150) NULL,
	[Duration] [nvarchar](100) NULL,
	[Ammount] [decimal](18, 0) NULL,
	[ProjectCategory] [varchar](100) NULL,
	[DeadLine] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportDetails]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportDetails](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[Report] [nvarchar](500) NULL,
	[ReportStatus] [varchar](100) NULL,
	[IssueDetails] [nvarchar](500) NULL,
	[Priority] [varchar](100) NULL,
	[ProjectId] [int] NULL,
	[Name] [nchar](100) NULL,
	[reportDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeLogs] ADD  DEFAULT (getdate()) FOR [ChangeDate]
GO
ALTER TABLE [dbo].[ReportDetails]  WITH CHECK ADD  CONSTRAINT [FK_Report_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([ProjectId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReportDetails] CHECK CONSTRAINT [FK_Report_Project]
GO
/****** Object:  StoredProcedure [dbo].[AddEditProjectDetails]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddEditProjectDetails]
@ProjectId INT ,
@ProjectName NVARCHAR (200),
@ProjectDate DATETIME , 
@ClientName VARCHAR(100),
@ClientLocation VARCHAR (150),
@Duration NVARCHAR(100),
@Ammount DECIMAL,
@ProjectCategory VARCHAR(100),
@DeadLine DATETIME
AS
BEGIN

 SET NOCOUNT ON; 

   IF EXISTS (SELECT 1 FROM Projects WHERE ProjectId = @ProjectId)
   BEGIN
     UPDATE Projects
	 SET ProjectName = @ProjectName,
	     ProjectDate = @ProjectDate,
		 ClientName = @ClientName,
		 ClientLocation = @ClientLocation,
		 Duration = @Duration,
		 Ammount = @Ammount,
		 ProjectCategory = @ProjectCategory,
		 DeadLine = @DeadLine
	WHERE ProjectId =  @ProjectId
   END

   ELSE
   BEGIN
     INSERT INTO Projects ( 
	   ProjectName ,
	   ProjectDate,
	   ClientName,
	   ClientLocation,
	   Duration,
	   Ammount,
	   ProjectCategory,
	   DeadLine
	 )
	 VALUES (
	 @ProjectName,
	 @ProjectDate,
	 @ClientName,
	 @ClientLocation,
	 @Duration,
	 @Ammount,
	 @ProjectCategory,
	 @DeadLine
	 )
   END
END
GO
/****** Object:  StoredProcedure [dbo].[AddProjectReport]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddProjectReport]
@Report NVARCHAR(500),
@Name VARCHAR(100),
@ReportStatus VARCHAR(100),
@IssueDetails NVARCHAR(500),
@Priority VARCHAR(100),
@ProjectId INT,
@reportDate DATE
AS
BEGIN
   INSERT INTO ReportDetails ( Report , Name , ReportStatus , IssueDetails , Priority , ProjectId , reportDate )
   VALUES ( @Report , @Name, @ReportStatus , @IssueDetails , @Priority , @ProjectId , GETDATE() )
END
GO
/****** Object:  StoredProcedure [dbo].[AuthLogin_Sp]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AuthLogin_Sp]
@AuthName VARCHAR ( 100 ) 
AS
BEGIN
  SELECT * FROM EmploayeeAuth
   WHERE AuthName = @AuthName
END
GO
/****** Object:  StoredProcedure [dbo].[AuthRegister_Sp]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AuthRegister_Sp]
@AuthName VARCHAR ( 100 ) ,
@AuthRole VARCHAR ( 50 ) , 
@PasswordHash VARCHAR (MAX),
@Country VARCHAR ( 100 ),
@Age INT,
@Gender varchar(100),
@Salary DECIMAL,
@JoiningDate DATE,
@ProfilePicture NVARCHAR(MAX)
AS
BEGIN
   INSERT INTO EmploayeeAuth ( AuthName , AuthRole , PasswordHash , Country , Age , Gender , Salary , JoiningDate , ProfilePicture  )
	 VALUES 
	( @AuthName , @AuthRole , @PasswordHash , @Country , @Age , @Gender , @Salary , @JoiningDate , @ProfilePicture )
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteAuth]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteAuth]
@id INT
AS
BEGIN
  DELETE EmploayeeAuth
  WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteProjectById]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteProjectById]
@ProjectId INT
AS
BEGIN

  DELETE Projects
  WHERE ProjectId = @ProjectId

END
GO
/****** Object:  StoredProcedure [dbo].[EmploayeeAuth_SP]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EmploayeeAuth_SP]
  @ACTION  VARCHAR ( 50 ),
  @id INT,
  @AuthName VARCHAR ( 100 ) ,
  @AuthRole VARCHAR ( 50 ) , 
  @PasswordHash VARCHAR (MAX)
  AS

  BEGIN
    IF( @ACTION = 'REGISTER' )
	BEGIN
	 INSERT INTO EmploayeeAuth ( AuthName , AuthRole , PasswordHash )
	 VALUES 
	 ( @AuthName , @AuthRole , @PasswordHash )
	END

	ELSE IF( @ACTION = 'LOGIN' )
	BEGIN
	 SELECT * FROM EmploayeeAuth
	 WHERE AuthName = @AuthName
	END
  END
GO
/****** Object:  StoredProcedure [dbo].[Employee_DeleteSp]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Employee_DeleteSp]
@id int
AS
BEGIN

 SET NOCOUNT ON; 
 
  DELETE EmployeeData
  WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[Employee_GetAllSp]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Employee_GetAllSp]
AS
BEGIN

 SET NOCOUNT ON; 
 
   SELECT  id ,
  EmpName ,
  EmpAge  ,
  EmpGender ,
  EmpSalary ,
  EmpCountry 
  FROM EmployeeData
END
GO
/****** Object:  StoredProcedure [dbo].[Employee_GetByIdSp]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Employee_GetByIdSp]
@id int
AS
BEGIN

 SET NOCOUNT ON; 
 
   SELECT  id ,
  EmpName ,
  EmpAge  ,
  EmpGender ,
  EmpSalary ,
  EmpCountry 
  FROM EmployeeData
  WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[Employee_InsertSp]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Employee_InsertSp]
@id INT ,
@EmpName VARCHAR (100),
 @EmpAge INT ,
 @EmpGender VARCHAR (50),
 @EmpSalary DECIMAL,
 @EmpCountry VARCHAR (50)
AS
BEGIN

 SET NOCOUNT ON; 
  
   IF EXISTS (SELECT 1 FROM EmployeeData WHERE id = @id)
   BEGIN
      UPDATE EmployeeData
	  SET EmpName = @EmpName,
	      EmpAge = @EmpAge,
		  EmpGender = @EmpGender,
		  EmpSalary = @EmpSalary ,
		  EmpCountry = @EmpCountry
	WHERE id = @id
   END

ELSE
	BEGIN
	   INSERT INTO EmployeeData ( EmpName ,  EmpAge , EmpGender ,  EmpSalary ,  EmpCountry)
	   VALUES
      ( @EmpName , @EmpAge , @EmpGender , @EmpSalary , @EmpCountry )
    END
END
GO
/****** Object:  StoredProcedure [dbo].[EmployeeData_SP]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EmployeeData_SP]
 @ACTION VARCHAR(50),
 @id INT,
 @EmpName VARCHAR (100),
 @EmpAge INT ,
 @EmpGender VARCHAR (50),
 @EmpSalary DECIMAL,
 @EmpCountry VARCHAR (50)
AS
BEGIN
   
   IF( @ACTION = 'GETALL')
   BEGIN
    SELECT * FROM EmployeeData
   END 

   ELSE IF( @ACTION = 'GETBYID' )
   BEGIN
    SELECT * FROM EmployeeData
	WHERE id = @id
   END

   ELSE IF ( @ACTION = 'INSERT' )
   BEGIN
    INSERT INTO EmployeeData ( EmpName ,  EmpAge , EmpGender ,  EmpSalary ,  EmpCountry)
	VALUES
	( @EmpName , @EmpAge , @EmpGender , @EmpSalary , @EmpCountry )
   END


   ELSE IF ( @ACTION = 'UPDATE' )
   BEGIN
     UPDATE EmployeeData
	 SET EmpName = @EmpName,
	     EmpAge = @EmpAge,
		 EmpGender = @EmpGender ,
		 EmpSalary = @EmpSalary,
		 EmpCountry = @EmpCountry
     WHERE id = @id
   END


   ELSE IF ( @ACTION = 'DELETE' )
   BEGIN
     DELETE EmployeeData
	 WHERE id = @id
   END
END
GO
/****** Object:  StoredProcedure [dbo].[EmployeeLogs_SP]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EmployeeLogs_SP]
@ACTION VARCHAR (50),
@logId INT 
AS
BEGIN

   IF(@ACTION = 'GETALLLOG')
   BEGIN
    SELECT * FROM EmployeeLogs
   END

   ELSE IF( @ACTION = 'GETLOGBYID' )
   BEGIN
     SELECT * FROM EmployeeLogs
	 WHERE logId = @logId
   END
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllReports]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllReports]
AS
BEGIN
  SELECT r.*, p.ProjectName , p.ProjectCategory   FROM ReportDetails r
  JOIN Projects p ON p.ProjectId = r.ProjectId
END
GO
/****** Object:  StoredProcedure [dbo].[GetProjectById]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProjectById]
@ProjectId INT
AS
BEGIN
SELECT * FROM Projects
WHERE ProjectId = @ProjectId
END
GO
/****** Object:  StoredProcedure [dbo].[GetProjectDetails]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[GetProjectDetails]
AS
BEGIN
  SELECT * FROM Projects
END
GO
/****** Object:  StoredProcedure [dbo].[GetRegisterUsers]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRegisterUsers]
AS
BEGIN
 SELECT * FROM EmploayeeAuth
END
GO
/****** Object:  StoredProcedure [dbo].[GetReportById]    Script Date: 26-12-2025 10:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetReportById]
@ReportId INT
AS
BEGIN
SELECT r.*, p.ProjectName , p.ProjectCategory   FROM ReportDetails r
  JOIN Projects p ON p.ProjectId = r.ProjectId
WHERE ReportId = @ReportId 
END
GO
USE [master]
GO
